/*Style sheet for calculator. */


/* Setting up the universal settings for the calculator.*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;/*<-- Font for whole page is Helvetica. Back up font is san-serif.*/
    font-weight: normal;/* <-- Font is normal weight*/
}

/*Setting the background gradient*/
body {
     padding: 0;/*<-- Zeroing out the default padding of the page*/
     margin: 0; /*<-- Zeroing out the default margins of the page*/
     background: linear-gradient(to right, #00AAFF, #00FF6C);/*<-- Creating a gradient effect on th background.*/
}

/* Setting the grid template for the calculator buttons*/
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center; 
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) /* <-- setting for the two output display lines */ repeat(5,100px); /* <--Setting for the buttons */
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover {
background-color: rgba(255,255,255,.90);
}

.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding:10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}